// ==========================================================================
// LAYOUTS
// ==========================================================================

html
  box-sizing: border-box
  margin: 0
  background: $yellow
  font-size: 100%

body
  min-height: 100%
  position: relative

  // modal
  &::after
    z-index: -1
    transition: background-color 300ms
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    display: block

#app
  height: 100%
  display: grid
  grid-template-rows: auto 1fr auto

.header
  position: fixed
  position: -webkit-sticky
  top: 0
  width: 100%
  z-index: 500

#main
  background: $white
  margin-top: 106px



@include screen($tablet)
  html
    font-size: 110%
