.advantages
  padding: rem(40)
  margin: rem(80) auto rem(40)
  max-width: 450px
  text-align: center

  &__title
    margin-bottom: rem(32)

    &--s
      margin: rem(8) 0

  &__content
  

  &__icon
    filter: drop-shadow(3px 3px 0 $yellow)

  &__text
    margin-bottom: rem(40)
