.calc
  background: $grey
  padding: rem(100) rem(40)

  &__title
    text-align: center
    margin-bottom: rem(30)
    &--s
      text-align: center
      padding: rem(16)
      grid-column: 1 /-1
      background: $yellow
      color: $black
      border: 3px solid
      border-radius: 7px 7px 0 0

  &__table
    display: grid
    grid: auto 1fr/ repeat(2, 1fr)
    align-items: center
    margin-bottom: rem(30)
    border-radius: 7px
    overflow: hidden
    background: $black
    color: $yellow
    margin: 0 auto 30px
    max-width: 350px

  &__product
    padding: rem(30)

    *
      margin-top: rem(4)
      display: block
      text-align: center

  &__options
    grid-column: 2
    padding: rem(16)

    *
      display: block

  &__option
    padding: rem(8) rem(16) rem(8) rem(40)
    position: relative
    cursor: pointer
    border-radius: 5px
    transition: .25s


    &:hover
      &::after
        background: $grey--dark

    &:hover,  &--is-active, &--is-active2
      &::after
        transform: translateY(-50%) scale(.8) !important

    &--is-active, &--is-active2
      background: $yellow
      color: $black

      &::after
        background: $black

    &::before, &::after
      content: ''
      position: absolute
      left: 10px
      top: 50%
      width: 16px
      height: 16px
      border-radius: 50%
      transform: translateY(-50%)

    &::before
      background: $yellow

    &::after
      transition: .25s
      background: $black
      transform: translateY(-50%) scale(0)

  &__price
    margin: rem(40) 0

  &__btn
    grid-column: 1/-1
    margin: 15px
    padding: rem(16)
    border-radius: 3px
