.footer
  background: $grey--dark
  color: $grey
  padding: rem(30)

  &__line
    opacity: .7
    margin-bottom: rem(20)

  &__links a
    color: $white

    &:hover
      text-decoration: underline

  &__separator
    margin: 0 rem(8)
