.form
  background: $black
  padding: rem(16)
  margin-bottom: rem(16)
  color: $white

  &__title
    margin: rem(16)
    text-align: center

  &__content
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: column nowrap

  &__input
    border: 1px solid $black
    padding: rem(8)
    margin: rem(16) 0
    border-radius: 5px
    color: $black

  &__checkbox
    margin-top: rem(16)
    display: inline-flex

    input
      margin-right: rem(8)
