body.modal-open

  &::after
    z-index: 501
    background-color: transparentize($grey--dark, .4)

.modal
  transform: translateY(-100px)
  transition: 300ms
  opacity: 0

  &.show
    transform: none
    opacity: 1

  .close
    float: right

  &-header
    background: $yellow
    color: $black

  &-content
    border-radius: 10px
    overflow: hidden
    text-align: center

  &-body
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column

.collapse
  display: none

.collapse.show
  display: block

.collapsing
	position: relative
	height: 0
	overflow: hidden
	transition: height .35s ease
@media screen and (prefers-reduced-motion:reduce)
	.collapsing
        transition: none

*[data-toggle="modal"]
  cursor: pointer
