.offer
  background: url(../images/bg-rebajas.jpg) no-repeat center
  background-size: cover
  &__wrapper
    color: $white
    padding: rem(16)

  &__title
    margin: rem(8) 0
    display: block
    line-height: 1.2
    text-transform: uppercase

    &--sm
      display: block
      text-transform: uppercase

    &--sm-inline
      display: inline-block
      text-transform: uppercase
      margin: rem(5) rem(10) 0 0

  &__content
    display: grid
    grid-gap: rem(10)
    grid-template-columns: auto 1fr
    max-width: 400px
    padding: rem(10)
    align-items: center
    border: 2px solid $yellow

  &__ethernet
    grid-column: 1/2

    *
      display: block

  &__mobile
    grid-column: 1/2
    // display: grid
    // grid-gap: rem(10)

  &__price
    border-left: 1px solid $yellow
    justify-self: center
    grid-column: 2/3
    grid-row: 1/3
    padding-left: rem(16)

  &__btn
    grid-column: 1/4
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: baseline


    & :nth-child(2)
      margin-top: rem(10)


  &__paragraph
    margin: rem(36) 0 rem(16)
    display: block

  &__subtitle
    display: none
