.phones
  padding: rem(100) rem(40)
  text-align: center
  background: $grey--light
  display: grid
  grid-template-columns: 1fr minmax(auto, 170px) 1fr

  &__title
    grid-column: 1/-1

    &--s
      margin-top: rem(40)
      margin-bottom: rem(20)


  &__content
    display: grid
    justify-items: center
    grid-column: 2


  &__btn
    width: 100%
    margin-top: rem(8)

  &__img
    width: 100%
    margin-bottom: rem(16)
    // grid: repeat(3, auto) / auto-flow 1fr
