.questions
  background: $grey
  padding: rem(50) rem(20)

  &__title
    margin-bottom: rem(20)

  &__content
    margin-bottom: rem(20)
    background: $white
    padding: rem(16)
    border-radius: 10px

  &__question
    display: block
    padding: rem(16)
    cursor: pointer
    margin: 0 rem(-16)

  &__answer
    display: block
  //////////////////////////////
