.sales
  background: $yellow
  color: $black
  padding: rem(16)
  text-align: center

  &__title
    display: inline-block
    margin: rem(16) 0

  &__content
    background: $black
    padding: rem(10)
    border: 2px solid $black
    display: grid
    grid-gap: 10px 20px
    grid-template-columns: 1fr 20px 1fr
    grid-template-rows: 1fr 1fr
    align-items: center

  &__cell
    color: $yellow

    &--phone
      padding: rem(16) 0
      color: $black
      background: $yellow
      grid-column: 1/-1
      position: relative
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: center
      align-items: center

      img
        margin-left: 8px


    span
      display: block
      text-transform: uppercase
