// ==========================================================================
// Buttons Module
// ==========================================================================


.btn
  text-decoration: none
  padding: rem(6)
  line-height: initial
  display: inline-flex
  justify-content: center
  align-items: center
  border-radius: 5px
  white-space: nowrap
  transition: .3s
  cursor: pointer

  &--black
    background: $black
    color: white

  &--white
    background: $white
    color: $black

  &--yellow
    background: $yellow
    color: $black

  &--red
    background: $red
    color: $white

  &--green
    background: $green
    color: white

  &--s
    padding: rem(7) rem(12)
    font-weight: 700

  &--n
    padding: rem(10) rem(16)

  &--l
    padding: rem(20) rem(32)

  &--xl
    font-size: rem(32)
