.highlight
  color: $yellow
  text-transform: uppercase

.text

  &--highlight
    color: $yellow
    text-transform: uppercase

  &--cross
    text-decoration: line-through

  &--uppercase
    text-transform: uppercase

  &--center
    text-align: center

.price
  display: inline-block
  &__eu
    font-size: rem(42)

  &__cts
    font-size: rem(24)

  &__currency
    display: block
    font-weight: 400
    text-transform: lowercase
    text-align: center

.border
  &--black
    border: 2px solid black
