.banner
  background: $yellow
  display: flex
  align-items: center
  padding: em(6) em(12)

  &__logo
    width: 100px

  &__title
    font-size: rem(12)
    margin-left: auto
    padding: 0 rem(12)
    font-weight: 700
    text-align: right
