.nav
  background: $black
  &__burger
    display: block
    padding:  em(10) em(16)
    // width: 220px
    border-radius: 30px
    cursor: pointer
    transition: 400ms

    @include screen($tablet)
      transform: none
      width: auto
      position: static
      margin-left: auto
      background: none
      padding: 0 em(16)


    &-line
      width: 25px
      height: 4px
      border-radius: 4px
      background: $white
      margin: 4px 0
      position: relative
      z-index: 400
      transition: 400ms 100ms

      @include screen($tablet)
        display: none
