
.menu
  font-size: rem(16)
  font-weight: 800
  transition: 200ms
  z-index: 1000
  padding: 0
  margin: 0

  @include screen($tablet)

  &__item
    display: none
    opacity: 0
    color: $white
    @for $i from 1 to 4
      &:nth-child(#{$i})
        animation-delay: $i * 80 + 100ms !important

    @include screen($tablet)
      display: block
      transform: none
      opacity: 1
      margin: em(16)
  &__link
    color: $white
    white-space: nowrap
    transition: 200ms

    @include screen($tablet)
      font-size: rem(18)
