.nav
  width: 100%
  display: grid
  grid-template-columns: auto 150px 1fr auto
  color: $white
  padding: rem(5)

  &__logo
    display: none

  &__menu
    grid-row: 2/3
    grid-column: 1/-1

  &__signal, &__call-us
    display: flex
    align-items: center
    font-size: rem(12)
    font-weight: 700

  &__call-us
    grid-column: 4/5

  &__icon
    font-size: rem(30)

  &__number
    font-size: rem(16)
    color: $yellow

  &__schedule
    display: none

  &__clients
    display: none
