@include screen($tablet)

  .advantages
    max-width: none

    &__content
        display: grid
        grid: repeat(3, auto) / auto-flow 1fr
        max-width: $wide
        margin: rem(80) auto 0
        grid-gap: 0 50px
