// ==========================================================================
// Button States
// ==========================================================================

.btn
  &--black:hover
    background: lighten($black, 30%)

  &--red:hover
    background: lighten($red, 15%)

  &--green:hover
    background: lighten($green, 20%)

  &--yellow:hover
    background: lighten($yellow, 20%)

  &--white:hover
    background: darken($white, 10%)

// ==========================================================================
// Button Media Queries
// ==========================================================================
