@include screen($tablet)
  .calc
    $self: &

    display: grid
    grid: repeat(4, auto) /  1fr minmax(auto, 435px) minmax(auto, 435px) 1fr
    // max-width: $wide
    margin: rem(80) auto 0
    grid-gap: 30px

    &__title, &__footer
      grid-column: 1 / 5

    &__table
      grid-column: 2 / 3
      margin: 0
      max-width: none

      &:nth-child(3)
        grid-column: 3 / 4

      &:nth-child(4)
        grid-column: 2 / 4
        grid-template-columns: 1fr 1fr

        #{ $self }__product
          justify-self: right

        #{ $self }__price
          justify-self: left

    &__price
      justify-self: center
