// ==========================================================================
// Nav
// ==========================================================================

@include screen($max-mobile)

  $items: 1

  @keyframes fade-in
    0%
      opacity: 0
      transform: translate(50px)

    100%
      opacity: 1
      transform: translateX(0px)

  #nav__show:checked ~ .nav__menu .menu__item
    display: block
    animation: fade-in 200ms ease-out forwards

  #nav__show:checked ~ .menu
    margin: rem(14) rem(20)

  #nav__show:checked ~ .nav__burger
    .nav__burger-line
      &:nth-child(1)
        transform: translateY(em(8)) rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:nth-child(3)
        transform: translateY(em(-8)) rotate(-45deg)

.menu__link
  &:hover, &--is-active
    margin-left: em(8)
    @include screen($tablet)
      margin-left: 0

  &:hover
    background: transparentize($yellow, .3)
    @include screen($tablet)
      background: transparentize($yellow, .5)

  &--is-active, &--is-active:hover
    background: $yellow
    @include screen($tablet)
      background: $yellow

.sticky
  background: $yellow
  #nav
    padding: em(16)
    .nav__burger
      top: 16px


@include screen($tablet)

  .header
    background: $black

  .banner
    justify-content: center

    &__logo
      display: none

    &__title
      margin-left: 0
      font-size: rem(18)

  .nav
    padding: 0
    grid-template-columns: auto 1fr 1fr 300px
    max-width: 900px
    margin: 0 auto
    // border-top: 1px solid $black

    &__logo
      background: $yellow
      display: block
      width: 200px
      grid-column: 1 / 2
      grid-row: 1 / 2
      padding: rem(12)
      align-self: start

    &__menu
      grid-row: 2 / 3

    &__call-us
      text-align: center
      color: $grey--dark
      flex-direction: column
      background: $white
      grid-row: 1 / 3
      padding: rem(16)
      z-index: 999999999 !important

    &__menu
      // border-top: 1px solid $grey--dark

    &__number
      color: $red
      font-size: rem(30)

    &__schedule
      display: block


    &__clients
      display: block

    &__signal
      padding: 0 rem(16)
      font-weight: 600
      text-transform: uppercase
      align-self: center
      font-size: rem(16)
      grid-column: 2/4
      grid-row: 1
      justify-self: end

      i
        color: $red
        font-size: rem(40)

      p
        text-decoration: underline
