@include screen($mobile--landscape)
  .offer

    &__wrapper
      display: grid
      grid: repeat(5, auto) / 1fr 1fr
      column-gap: 15px

    &__title, &__content, &__paragraph, &__config
      grid-column: 1/ 3

    &__config
      justify-self: left
    &__form
      grid-column: 2/3
      margin: 0
    &__sales
      grid-column: 1/2
      grid-row: -1 / span 1

@include screen($tablet)
  .offer

    &__wrapper
      padding-right: 0
      grid: repeat(6, auto) / 1fr 300px
      row-gap: 10px
      max-width: 900px
      margin: 0 auto

    &__title, &__content, &__paragraph, &__config
      grid-column: 1/ 2
      margin-top: rem(20)

    &__content
      grid-row: 2 / 4
      margin: 0

    &__form
      grid-row: 1/3
      margin-top: -20px

    &__sales
      grid-row: 3/-1
      grid-column: 2/3

    &__subtitle
      display: block
