@include screen($tablet)
  .phones
    max-width: none
    grid-template-columns: 1fr minmax(auto, 900px) 1fr

    &__content
        grid: repeat(4, auto) / auto-flow 1fr
        grid-gap: 0 70px
        margin: rem(50) 0

    &__img
      max-width: 150px
