@include screen($tablet)
  .questions
    display: grid
    grid: auto / 1fr minmax(auto, 900px) 1fr
    grid-gap: 0 70px
    justify-content: center

    &__title
      grid-column: 1 / -1
      margin: rem(60) 0

    &__content
      grid-column: 2 / span 1
