doctype html
html(lang="es")
  head
    link(rel="stylesheet", href="assets/styles/bootstrap-theme.css")
    link(rel="stylesheet", href="assets/styles/bootstrap.css")
    link(rel="stylesheet", href="assets/styles/main.min.css")
    include _includes/head/index.pug

  body
    #app
      include _includes/body/header.pug
      
      #main
        include _includes/body/offer.pug
        include _includes/body/advantages.pug
        include _includes/body/calcule.pug
        include _includes/body/phones.pug
        include _includes/body/questions.pug
        include _includes/body/modals.pug
      include _includes/body/footer.pug
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    script(src="assets/scripts/main.min.js")
