section.advantages
  h2.advantages__title.f--xl.f--bold.text--uppercase Ventajas másmóvil
    
  .advantages__content
    .advantages__icon.icon-location.f--xxxl
    h3.advantages__title--s.f--n.f--bold.text--uppercase Cercanía
    .advantages__text.f--s Nuestro SAC se encuentra en Madrid y desde ahí te ofrecemos el mejor servicio de atención al cliente en 6 idiomas, ¡algo único en el sector de la telefonía!
    
    .advantages__icon.icon-lock-open.f--xxxl
    h3.advantages__title--s.f--n.f--bold.text--uppercase Sin permanencia
    .advantages__text.f--s Podrás disfrutar de tu Tarifa MásMóvil MAS (iNTERNET + MÓVIL) si no te acoges a la promo. En caso de beneficiarte de la promo vigente, la permanencia será de 12 meses.
    
    .advantages__icon.icon-mobile.f--xxxl
    h3.advantages__title--s.f--n.f--bold.text--uppercase Lineas adicionales gratis
    .advantages__text.f--s Con MásMóvil podrás disfrutar de 2 líneas adicionales GRATIS (20 MIN + 500Mb) al contratar tu tarifa. Además, las líneas adicionales Ilimitadas contarán con un 30% DTO.
    
    .advantages__icon.icon-signal.f--xxxl
    h3.advantages__title--s.f--n.f--bold.text--uppercase Cobertura 4g
    .advantages__text.f--s Con nosotros disfrutarás de la misma cobertura que cualquier operador de telefonía más grande. Además 4G a toda toda velocidad en tu tarifa movil
