section#calc.calc
  h2.calc__title.f--xl.f--bold.text--uppercase Configura tu tarifa + fijo + móvil
  
  .calc__table
    h4.calc__title--s Datos móvil + llamadas
    
    .calc__product 
      i.icon-mobile.f--xxxl
      span.f--l.f--bold Móvil
      
    #mobile.calc__options
      .calc__option.calc__option--is-active(onclick="changePrice('22.36', this)")
        span.f--l.f--bold.text--uppercase 6gb
        span.f--n.text--uppercase +ilimitadas
        
      .calc__option(onclick="changePrice('25.99', this)")
        span.f--l.f--bold.text--uppercase 12gb
        span.f--n.text--uppercase +ilimitadas
        
      .calc__option(onclick="changePrice('32.04', this)")
        span.f--l.f--bold.text--uppercase 20gb
        span.f--n.text--uppercase +ilimitadas
  
  .calc__table
    h4.calc__title--s Fibra Óptica + fijo
    
    .calc__product 
      i.icon-network.f--xxxl
      span.f--l.f--bold Fibra
      
    #router.calc__options
      .calc__option.calc__option--is-active2(onclick="changeSymbol('', this)")
        span.f--l.f--bold.text--uppercase 100mb
        span.f--n.text--uppercase Adsl
        
      .calc__option(onclick="changeSymbol('*', this)")
        span.f--l.f--bold.text--uppercase 600mb
  
  .calc__table
    h4.calc__title--s.text--uppercase Precio final
    
    .calc__product 
      span.f--l.f--bold Tu tarifa:
    #price.calc__price.text--highlight.f--bold
      span.price__eu 21
      span.price__cts 90
      span.price__cts
      span.price__currency.f--l €/mes
      
    .calc__btn.btn.btn--red.f--n.f--bold.text--uppercase(href="#" data-toggle="modal" data-target="#myModal") Quiero esta tarifa

  p.calc__footer.f--n.f--normal.text--center.text--uppercase Precios con promo, para más info te llamamos sin compromiso
