footer.footer
  p.footer__line.f--xxs.text--center * Cuota de línea no incluida: 19,99 €/mes (IVA inc.). Fibra 100MB es GRATIS y Fibra 600MB cuesta lo mismo (3 meses), siempre que se contraten con las tarifas móvil correspondientes (sólo se abona la cuota de línea). Fibra 100 y 600Mb, sin tarifa móvil, tienen un precio de 15 y 25€, respectivamente (+ cuota de línea).
  p.footer__line.f--xs.text--center Vector Software Factory, S.L., - Distribuidor Oficial Másmóvil.

  .footer__links.f--xs.text--center
    a(href="#") Política de privacidad
    span.footer__separator |
    a(href="#") Colabora con nosotros
