header.header
  .banner
    .banner__logo
      include ../../../images/svg/logo.svg
    span.banner__title.t-sm ¡Descubre todas nuestras ofertas!
    a.banner__button.btn.btn--black.btn--s(href="#" data-toggle="modal" data-target="#myModal") Lo quiero
      
  nav.nav
  
    input#nav__show.is-hidden(type="checkbox")
    label.nav__burger(for="nav__show")
      .nav__burger-line
      .nav__burger-line
      .nav__burger-line
        
    .nav__logo
        include ../../../images/svg/logo.svg
    ul.nav__menu.menu
      li.menu__item
        a.menu__link(data-link="about" data-space="50") Fibra + Móvil

    .nav__signal(href="#" data-toggle="modal" data-target="#myModal")
      i.icon-location.nav__icon
      p.nav__text 
        | Comprobar 
        span.highlight
          | Cobertura 
      
    .nav__call-us(href="#" data-toggle="modal" data-target="#myModal")
      
      i.icon-phone.nav__icon
      
      p.nav__clients Nuevos clientes y altas

      p.nav__text Llama GRATIS 
        br
        span.nav__number 999 999 999
        
      p.nav__schedule Horario L-V 9 a 22h
