#myModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Llámanos GRATIS al 900 908 263
        
      .modal-body
        p Aprovecha la promo de MÁSMÓVIL, te informamos GRATIS de todas nuestras ofertas
        p ...o si lo prefieres, te llamamos nosotros:
        input.form__input(type='email', placeholder='Introduce tu teléfono')
          
        a.btn.btn--n.btn--red.f--l
          i.icon-operator.f--xl
          | Solicitar Información
          
        .form__checkbox
          input#terms(type='checkbox', value='true')
          label.f--xs(for='terms') He leído y acepto la política de privacidad
