section.offer
  
  .offer__wrapper
    h2.offer__title.f--l.f--bold Fibra + tarifa móvil
      br
      span.highlight ¡300MB A PRECIO DE 50MB! *
        
    .offer__content.f--bold
      .offer__ethernet
        span.offer__title--sm.f--n Fibra óptica
        strong.f--xxl.highlight 300mb
        
      .offer__mobile
        span.offer__title--sm-inline Datos:
        span.text--cross 5gb 
        strong.text--highlight.f--l 10gb 
        br
        span.offer__title--sm-inline Llamadas: 
        strong.text--highlight ¡Ilimitadas!
        
      .offer__price
        span.offer__title--sm Promo Online*
        strong.price.text--highlight 
          span.price__eu 21
          span.price__cts '90€
      .offer__btn
        a.btn.btn--n.btn--white.text--uppercase.f--s.f--bold(href="#" data-toggle="modal" data-target="#myModal") Móvil gratis 
        a.btn.btn--n.btn--red.text--uppercase.f--s.f--bold(href="#" data-toggle="modal" data-target="#myModal") Quiero esta oferta
        
    p.offer__paragraph.f--l.f--bold.text--uppercase y si quieres más gigas o mb de fibra...
    
    a#config.offer__config.btn.btn--l.btn--yellow.f--l.f--bold.text--uppercase
      i.icon-cog.f--xl
      | Configura tu tarifa
      
    p.offer__paragraph.f--xs * Oferta de bienvenida los 3 primeros meses. Llámanos e infórmate de todas nuestras ventajas y ofertas.


    form.form.offer__form
      h2.form__title.f--l.text--uppercase ¿Te gusta esta tarifa?
      span.form__subtitle.f--s.f--bold.text-center Te llamamos gratis sin compromiso
      .form__content
        input.form__input(type="email" placeholder="Introduce tu teléfono")
          
        a.btn.btn--n.btn--red.f--l(href="#" data-toggle="modal" data-target="#myModal")
          i.icon-operator.f--xl
          | Solicitar Información
          
        .form__checkbox
          input(type="checkbox", id="terms" value="true")
          label.f--xs(for="terms") He leído y acepto la política de privacidad

    section.sales.offer__sales
      h2.sales__title.f--l.f--bold.text--uppercase ¡Rebajas en MásMóvil!
        
      .sales__content
        .sales__cell
          span.f--xl.f--bold gb x2
          span.f--xxs.f--normal durante 3 meses
        
        .sales__cell
          span.f--xxl.f--bold +
        .sales__cell
          span.f--xl.f--bold fibra
          
        .sales__cell.sales__cell--phone
          .sales__text
            span.f--l.f--bold smartphone
            span.f--xxl.f--bold gratis
          img.sales__img(src="assets/images/phone-1.png" alt="Honor-7s")
          
