.phones.text--uppercase
  
  h2.phones__title.f--xl.f--bold Y ADEMÁS, LLÉVATE UNO DE ESTOS TERMINALES A UN PRECIO ÚNICO
    
  .phones__content
    
    h4.phones__title--s.f--l Lg k9
    img.phones__img(src="assets/images/lg-k9.png")
    a.phones__btn.btn.btn--n.btn--green.f--bold(href="#" data-toggle="modal" data-target="#myModal") Lo quiero
    a.phones__btn.btn.btn--n.border--black.f--bold Ver detalles

    h4.phones__title--s.f--l Huawei y7
    img.phones__img(src="assets/images/huawei-y7.png")
    a.phones__btn.btn.btn--n.btn--green.f--bold(href="#" data-toggle="modal" data-target="#myModal") Lo quiero
    a.phones__btn.btn.btn--n.border--black.f--bold Ver detalles
    
    h4.phones__title--s.f--l Samsung j4+
    img.phones__img(src="assets/images/samsung-j4-plus.png")
    a.phones__btn.btn.btn--n.btn--green.f--bold(href="#" data-toggle="modal" data-target="#myModal") Lo quiero
    a.phones__btn.btn.btn--n.border--black.f--bold Ver detalles
