#accordion.questions
  
  h2.questions__title.f--xl.f--bold.text--uppercase.text--center Preguntas Frecuentes
    
  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q1") ¿Qué cobertura de fibra tiene Másmóvil?
    #q1.collapse.questions__answer.f--s(data-parent='#accordion')
      p Actualmente, utilizamos la red de Orange para fibra Másmóvil. Tenemos cobertura en el 99% del territorio nacional. Puedes comprobar tu cobertura de fibra o Adsl entrando a nuestra página web dejando tu número de teléfono y dirección. Te llamaremos lo más breve posible de forma gratuita para informarte de todas nuestras ofertas. 
  
  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q2") ¿Qué debo hacer para contratar Adsl o Fibra con tarifa móvil?
    #q2.collapse.questions__answer.f--s(data-parent='#accordion')
      p Para disfrutar de toda la velocidad y de las mejores ofertas en internet tan sólo tienes que seguir dos sencillos pasos. 
      p 1.Entra en nuestra página web y verifica si tienes cobertura en nuestro comprobador. 
      p 2.Deja tu teléfono en nuestro formulario y te llamaremos enseguida para informarte de todas nuestras promociones para contratar fibra o adsl.

  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q3") ¿En cuánto tiempo podré disfrutar mi tarifa de fibra+móvil desde que lo contrato?
    #q3.collapse.questions__answer.f--s(data-parent='#accordion')
      p La instalación del servicio fibra/adsl+fijo para altas nuevas será de 7 a 8 días y para portabilidades la espera es 11-16 días.
 
  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q4") ¿Qué ofertas tiene Másmóvil al contratar FIBRA+MÓVIL?
    #q4.collapse.questions__answer.f--s(data-parent='#accordion')
      p Ahora por contratar nuestra tarifa convergente puedes disfrutar de Fibra 300MB al precio de 50MB. Además, este mes duplicamos tu tarifa de datos. Puedes disfrutar de 10 GB, 16 GB o hasta 24 GB. 

  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q5") ¿Qué velocidad de Fibra o Adsl me ofrece Másmóvil?
    #q5.collapse.questions__answer.f--s(data-parent='#accordion')
      p Con Másmóvil puedes elegir entre 50 MB o 300 MB de velocidad real. Si no tienes cobertura de fibra puedes disfrutar de velocidad Adsl hasta 20 MB. Puedes llamar a nuestros telefónos y consultar nuestras ofertas para contratar internet en tu casa.

  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q6") Másmóvil no tiene cobertura de Fibra para mi casa ¿podré acceder a este servicio en un futuro?
    #q6.collapse.questions__answer.f--s(data-parent='#accordion')
      p Másmóvil se encuentra en un proceso de plena expansión, ampliando su red de fibra óptica. En caso de no disponer fibra para tu hogar tienes también una oferta muy barata para Adsl. De todas formas, en un futuro muy próximo podrás disfrutar de esta tecnología en tu hogar. 

  .questions__content
    a.questions__question.f--bold(data-toggle="collapse" data-target="#q7") Quiero hacer la portabilidad con Másmovil ¿Qué pasos debo seguir?
    #q7.collapse.questions__answer.f--s(data-parent='#accordion')
      p Al terminar el proceso de compra y cuando ya recopilemos todos tus datos. Desde Másmóvil fijamos una fecha para llevar a cabo la portabilidad lo antes posible. En ese instante ya se iniciará el proceso de portabilidad que tarda unas 24 horas. La tarjeta SIM te llegará a través de un mensajero y comenzará el proceso de portabilidad.
      p El cambio de operador tendrá lugar por la madrugada para que no te afecte. 
